﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="download_sitesi.Default" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" style="text-align: center">

    <style type="text/css">
        #form1 {
            background-color: #FFFFFF;
        }
        #FlashMenuLabs {
            width: 939px;
        }
        .auto-style10 {
            width: 989px;
            height: 13px;
        }
        .auto-style24 {
            width: 989px;
            height: 473px;
        }
        .auto-style1 {
            width: 1025px;
            height: 153px;
            background-image: url('resimler/7.jpg');
        }
        .auto-style14 {
            height: 20px;
            width: 131px;
        }
        .auto-style5 {
            width: 176px;
            color: #FF0000;
            font-weight: 700;
        }
        .auto-style4 {
            width: 4px;
        }
        .auto-style17 {
            width: 176px;
            color: #FF0000;
            font-weight: 700;
            height: 32px;
        }
        .auto-style18 {
            height: 32px;
        }
        .auto-style19 {
            width: 4px;
            height: 32px;
        }
        .auto-style7 {
            height: 23px;
        }
        .auto-style8 {
            height: 11px;
            }
        .auto-style9 {
            height: 61px;
        }
        .auto-style23 {
            height: 207px;
            background-color: #000000;
        }
        .auto-style25 {
        }
        .auto-style26 {
            height: 20px;
            width: 225px;
        }
        .auto-style27 {
            height: 20px;
            width: 219px;
        }
        .auto-style28 {
            width: 100%;
        }
        .auto-style29 {
            width: 30px;
            height: 30px;
        }
        .auto-style30 {
            width: 21px;
        }
        .auto-style31 {
            text-align: left;
            color: #0099CC;
            width: 1435px;
        }
        .auto-style32 {
            width: 196px;
        }
        </style>

<body style="background-color: #FFFFFF; width: 1039px; height: 1px; margin-top: 0px;" src ="resimler/1.jpg">
    <form id="form1" runat="server">
       
                    <table border="1" style="width: 1021px; height: 405px;">
                        <tr>
                            <td class="auto-style10"></td>
                        </tr>
                        <tr>
                            <td class="auto-style24">
                                <table border="1" class="auto-style1" align="center">
                                    <tr>
                                        <td class="auto-style27">
                                            <asp:Button ID="Button8" runat="server" BackColor="Lime" style="color: #000000; font-weight: 700; background-color: #FB8507" Text="Anasayfa" Width="131px" />
                                        </td>
                                        <td class="auto-style27" style="text-align: center">
                                            <asp:Button ID="Button9" runat="server" BackColor="Lime" style="font-weight: 700; background-color: #FB8507" Text="Yazılım" Width="131px" />
                                        </td>
                                        <td class="auto-style26" style="text-align: center">
                                            <asp:Button ID="Button10" runat="server" BackColor="Lime" style="font-weight: 700; background-color: #FB8507" Text="Güvenlik" Width="131px" />
                                        </td>
                                        <td class="auto-style27" style="text-align: center">
                                            <asp:Button ID="Button11" runat="server" BackColor="Lime" OnClick="Button11_Click" style="font-weight: 700; background-color: #FB8507" Text="İnternet" Width="131px" />
                                        </td>
                                        <td class="auto-style14" style="text-align: center">
                                            <asp:Button ID="Button12" runat="server" BackColor="Lime" OnClick="Button12_Click" style="font-weight: 700; background-color: #FB8507" Text="Üye Kayıt" Width="131px" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="auto-style25" colspan="3" style="text-align: center" rowspan="5">
                                            <table border="1" class="auto-style28">
                                                <tr>
                                                    <td class="auto-style30">
                                                        <img alt="" class="auto-style29" src="resimler/ikon_skype-1379075334.png" /></td>
                                                    <td class="auto-style31">&nbsp; Skype Konuşma programıyla arkadaşlarınız ile rahatça iletişime geçebilirsiniz.</td>
                                                    <td class="auto-style32">
                                                        <asp:Button ID="Button15" runat="server" Text="Skype İndir" Width="109px" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="auto-style30">
                                                        <img alt="" class="auto-style29" src="resimler/ikon_program-indir-1332843610.png" /></td>
                                                    <td class="auto-style31">&nbsp; İnternet download menager ile rahatlıkla dosyalarınızı indirebilirsiniz.&nbsp;</td>
                                                    <td class="auto-style32">
                                                        <asp:Button ID="Button16" runat="server" Text="İdm İndir" Width="109px" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="auto-style30">
                                                        <img alt="" class="auto-style29" src="resimler/ikon_google-chrome-1331722046.png" /></td>
                                                    <td class="auto-style31">&nbsp; Google chrome hızlı ve kullanışlı bir web tarayıcıdır.&nbsp;</td>
                                                    <td class="auto-style32">
                                                        <asp:Button ID="Button17" runat="server" Text="Chrome İndir" Width="109px" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="auto-style30">
                                                        <img alt="" class="auto-style29" src="resimler/ikon_gom-player-1331721308.png" /></td>
                                                    <td class="auto-style31">&nbsp; Gom player videolarınızı izlemenize yardımcı olur kaliteli bir programdır.&nbsp;</td>
                                                    <td class="auto-style32">
                                                        <asp:Button ID="Button18" runat="server" Text="Gom  İndir" Width="109px" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="auto-style30">
                                                        <img alt="" class="auto-style29" src="resimler/ikon_firefox-1375801928.png" /></td>
                                                    <td class="auto-style31">&nbsp; Mozilla Firefox hızlı ve kullanışlı bir web tarayıcıdır.&nbsp;&nbsp;</td>
                                                    <td class="auto-style32">
                                                        <asp:Button ID="Button19" runat="server" Text="Mozilla  İndir" Width="109px" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="auto-style30">
                                                        <img alt="" class="auto-style29" src="resimler/ikon_eset-nod32-antivirus-1385978815.png" /></td>
                                                    <td class="auto-style31">&nbsp; Eset nod 32 kolay hızlı bir virüs programıdır.&nbsp;</td>
                                                    <td class="auto-style32">
                                                        <asp:Button ID="Button20" runat="server" Text="Eset  İndir" Width="109px" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="auto-style30">
                                                        <img alt="" class="auto-style29" src="resimler/ikon_daemon-tools-lite-1364973401.png" /></td>
                                                    <td class="auto-style31">&nbsp; Deamon tools sanal sürücüleri kurmanızı sağlar.&nbsp;</td>
                                                    <td class="auto-style32">
                                                        <asp:Button ID="Button21" runat="server" Text="Deamon  İndir" Width="109px" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="auto-style30">
                                                        <img alt="" class="auto-style29" src="resimler/ikon_winrar-1331720925.png" /></td>
                                                    <td class="auto-style31">&nbsp; Winrar rar dosyalarınızı açmanıza yardımcı olan bi programdır.&nbsp;</td>
                                                    <td class="auto-style32">
                                                        <asp:Button ID="Button22" runat="server" Text="Winrar  İndir" Width="109px" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="auto-style30">
                                                        <img alt="" class="auto-style29" src="resimler/ikon_utorrent-1374585690.png" /></td>
                                                    <td class="auto-style31">&nbsp; uTorrent program oyun w.b dosyalarınızı indirmenize yardımcı olur.&nbsp;</td>
                                                    <td class="auto-style32">
                                                        <asp:Button ID="Button23" runat="server" Text="uTorrent  İndir" Width="109px" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="auto-style30">
                                                        <img alt="" class="auto-style29" src="resimler/ikon_teamviewer-1331721778.png" /></td>
                                                    <td class="auto-style31">&nbsp; Teamwiaver uzaktan yardım programıdır .&nbsp;</td>
                                                    <td class="auto-style32">
                                                        <asp:Button ID="Button24" runat="server" Text="Teamwiaver  İndir" Width="109px" />
                                                    </td>
                                                </tr>
                                            </table>
                                            <h1>
                                                &nbsp;</h1>
                                        </td>
                                        <td class="auto-style25" colspan="2" style="text-align: center">
                                            <table align="right" border="1" style="width: 288px">
                                                <tr>
                                                    <td class="auto-style5">Kullanıcı Adı</td>
                                                    <td>
                                                        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
                                                    </td>
                                                    <td class="auto-style4">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="auto-style5">Parola </td>
                                                    <td>
                                                        <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
                                                    </td>
                                                    <td class="auto-style4">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="auto-style17">
                                                        <asp:Button ID="Button13" runat="server" style="font-weight: 700" Text="Giriş" Width="131px" />
                                                    </td>
                                                    <td class="auto-style18">
                                                        <asp:Button ID="Button14" runat="server" style="font-weight: 700" Text="Şifremi Unuttum" Width="131px" />
                                                    </td>
                                                    <td class="auto-style19"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="auto-style7" colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="auto-style8" colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="auto-style9" colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="auto-style23"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
    </form>
    </body>
</html>
    </form>

